.header {
    max-width: 40%;
    position: relative;
    text-align: left;
    align-content: center;
    align-items: center;
}

.container-apps {
    position: relative;
    max-width: auto;
    max-height: 10%;
}

.date-apps {
    max-width: auto;

}

.apps {
    max-width: 50%;
    text-align: right;


}

.app-icons {
    display: inline;
    max-width: 20%;
 

}

.fb-ico {
    float: right;
    position: relative;
    text-align: center;
    color: blue;
    background-color: lightgray;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: 600;
    width: 5%;
    height: 10%;
    border-radius: 25px;
}

a:hover.fb-ico{
    color: white;
    background-color: blue;
}

.msn-ico {
    float: right;
    position: relative;
    text-align: center;
    color: whitesmoke;
    background-color: lightblue;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    width: 5%;
    height: 10%;
    border-radius: 25px;
}

a:hover.msn-ico{
    color: whitesmoke;
    background-color: skyblue;
}

.tw-ico {
    float: right;
    position: relative;
    text-align: center;
    color: white;
    background-color: blue;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Taho;
    text-decoration: none;
    width: 5%;
    height: 10%;
    border-radius: 25px;
}

a:hover.tw-ico{
    color: blue;
    background-color: white;
}

.mail-ico {
    float: right;
    position: relative;
    text-align: center;
    color: red;
    background-color: lightcoral;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Taho;
    text-decoration: none;
    width: 5%;
    height: 10%;
    border-radius: 25px;
}

a:hover.mail-ico{
    color: white;
    background-color: red;
}

.share-ico {
    float: right;
    position: relative;
    text-align: center;
    color: green;
    background-color: darkgreen;
    font-size: 15px;
    font-style: normal;
    font-family: Verdana, Geneva, Taho;
    text-decoration: none;
    width: 10%;
    height: 10%;
    border-radius: 25px;
}

a:hover.share-ico{
    color: darkgreen;
    background-color: greenyellow;

}

.link1 {
    text-decoration: none;
    text-decoration: none;
    color: darkslategrey;
    font-weight: 790;
}

.news-link1 {
    background-color: white;
    border-color: lightgrey;
    border-style: ridge;
    border-width: 1px;
    padding:8px;


}

a:hover.link1 {
    background-color: blue;
    color: white;
}