.header {
    max-width: 40%;
    position: relative;
    text-align: left;
    align-content: center;
    align-items: center;
}

.container-apps {
    position: relative;
    align-items: center;
    align-content: center;
    max-width: 50%;
    max-height: 10%;
}

.date-apps {

}

.apps {
    position: relative;

}

.app-icons {
    position: relative;
    text-align: right;
    align-items: center;
    align-content: center;
}

.fb-ico {
    max-width: 20%;
    display: inline-block;
    position: relative;
    text-align: center;
    color: blue;
    background-color: lightgray;
    font-size: 28px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: 600;
    width: 10%;
    height: 10%;
    border-radius: 25px;
}

a:hover.fb-ico{
    color: white;
    background-color: blue;
}

.msn-ico {
    max-width: 20%;
    display: inline-block;
    position: relative;
    text-align: center;
    color: whitesmoke;
    background-color: lightblue;
    font-size: 28px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    width: 10%;
    height: 10%;
    border-radius: 25px;
}

a:hover.msn-ico{
    color: whitesmoke;
    background-color: skyblue;
}

.tw-ico {
    max-width: 20%;
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    background-color: blue;
    font-size: 28px;
    font-style: normal;
    font-family: Verdana, Geneva, Taho;
    text-decoration: none;
    width: 10%;
    height: 10%;
    border-radius: 25px;
}

a:hover.tw-ico{
    color: blue;
    background-color: white;
}

.mail-ico {
    max-width: 20%;
    display: inline-block;
    position: relative;
    text-align: center;
    color: red;
    background-color: lightcoral;
    font-size: 28px;
    font-style: normal;
    font-family: Verdana, Geneva, Taho;
    text-decoration: none;
    width: 10%;
    height: 10%;
    border-radius: 25px;
}

a:hover.mail-ico{
    color: white;
    background-color: red;
}

.share-ico {
    max-width: 20%;
    display: inline-block;
    position: relative;
    text-align: center;
    color: green;
    background-color: darkgreen;
    font-size: 28px;
    font-style: normal;
    font-family: Verdana, Geneva, Taho;
    text-decoration: none;
    width: auto;
    height: 10%;
}

a:hover.share-ico{
    color: darkgreen;
    background-color: greenyellow;
    border-radius: 25px;
}